InOneWeekend/RayTracingInOneWeekend/RayTracingInOneWeekend/Debug/vc141.pdb
InOneWeekend/RayTracingInOneWeekend/RayTracingInOneWeekend/Debug/vc141.idb
InOneWeekend/RayTracingInOneWeekend/RayTracingInOneWeekend/Debug/stdafx.obj
InOneWeekend/RayTracingInOneWeekend/RayTracingInOneWeekend/Debug/RayTracingInOneWeekend.pch
InOneWeekend/RayTracingInOneWeekend/RayTracingInOneWeekend/Debug/RayTracingInOneWeekend.obj
InOneWeekend/RayTracingInOneWeekend/RayTracingInOneWeekend/Debug/RayTracingInOneWeekend.log
InOneWeekend/RayTracingInOneWeekend/RayTracingInOneWeekend/Debug/RayTraci.38A86A7B.tlog/link.write.1.tlog
InOneWeekend/RayTracingInOneWeekend/RayTracingInOneWeekend/Debug/RayTraci.38A86A7B.tlog/link.read.1.tlog
InOneWeekend/RayTracingInOneWeekend/RayTracingInOneWeekend/Debug/RayTraci.38A86A7B.tlog/link.command.1.tlog
InOneWeekend/RayTracingInOneWeekend/RayTracingInOneWeekend/Debug/RayTraci.38A86A7B.tlog/RayTracingInOneWeekend.lastbuildstate
InOneWeekend/RayTracingInOneWeekend/RayTracingInOneWeekend/Debug/RayTraci.38A86A7B.tlog/CL.write.1.tlog
InOneWeekend/RayTracingInOneWeekend/RayTracingInOneWeekend/Debug/RayTraci.38A86A7B.tlog/CL.read.1.tlog
InOneWeekend/RayTracingInOneWeekend/RayTracingInOneWeekend/Debug/RayTraci.38A86A7B.tlog/CL.command.1.tlog
InOneWeekend/RayTracingInOneWeekend/Debug/RayTracingInOneWeekend.pdb
InOneWeekend/RayTracingInOneWeekend/Debug/RayTracingInOneWeekend.ilk
InOneWeekend/RayTracingInOneWeekend/Debug/RayTracingInOneWeekend.exe
InOneWeekend/RayTracingInOneWeekend/.vs/RayTracingInOneWeekend/v15/ipch/454140a544dfcac.ipch
InOneWeekend/RayTracingInOneWeekend/.vs/RayTracingInOneWeekend/v15/Browse.VC.opendb
InOneWeekend/RayTracingInOneWeekend/.vs/RayTracingInOneWeekend/v15/Browse.VC.db
InOneWeekend/RayTracingInOneWeekend/.vs/RayTracingInOneWeekend/v15/.suo
